.sec{
    padding-top: 40px;
    padding-bottom: 40px;
}
.sec h1{
    text-align: center;
}
.div{
  max-width: 1320px;
  margin:0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 20px;
}
.cat{
    font-size: 1.25rem;  /* text-xl = 20px */
font-weight: bold;   /* font-bold */
color: #0f172a;      /* text-slate-900 */
}
.arti{
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid;
}
.bag{
    padding: 12px;
}
.bag h2{
    font-size: 20px;   /* text-xl */
font-weight: bold;    /* font-bold */
color: #0f172a;       /* text-slate-900 */
}
.bag p{
    margin-top: 0.75rem;   /* mt-3 = 12px */
font-size: 0.875rem;   /* text-sm = 14px */
line-height: 1.5rem;   /* leading-6 = 24px */
color: #475569;        /* text-slate-600 */
}