*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 100px;
}
.div{
    width: 1100px;
    height: auto;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: auto;
}
.card{
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.card img{
    height:  300px;
    width: 100%;
    display: block;
    object-fit: cover;
    transition: 1s;
}
.card img:hover {
    transform: scale(1.1);
}
.cardcont{
    padding: 15px;
}
 .cardcont h1 {
    display: flex;
    text-align: center;
    font-size: 25px;
    margin:0 0 12px 0;
    

}
.cardcont h2 {
    display: flex;
    text-align: center;
    font-size: 22px;
    margin:12px 27px 0;
    
}
.cardcont h3 {
    display: flex;
    text-align: center;
    font-size: 22px;
    margin: 8px 30px 0px 30px;
}
.cardcont h4 {
    font-size: 20px;
    margin: 10px 0 0 30px;
}