.home {
  width: 100%;
  height: 100vh;
  transition-duration: 200ms;
}
.bottom{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.bar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 24px;
}
.red{
outline: none;
padding-left: 16px;
padding-right: 16px;
padding-top: 4px;
padding-bottom: 4px;
border-radius: 9999px;
color: white;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}